In [1]:
import numpy as np
import pandas as pd

In [9]:
def pol(z):
    return np.array([np.abs(z),(180/np.pi)*np.angle(z)])

def rec(z):
    return np.array([np.real(z),np.imag(z)])

def linha_curta(f,l,V,R_pf,L_pf,S,fp,tipo=1):
    if tipo == 1:
        ang = np.arccos(fp)
    else: 
        ang = -np.arccos(fp)
    
    print(2*np.pi*f*L_pf)
    z = R_pf + 1j*2*np.pi*f*L_pf
    Z = z*l
    Z_pol = pol(Z)
    
    display(pd.DataFrame(np.array([rec(Z),pol(Z)])))
    
    V_r = V/np.sqrt(3)
    S_ = S*np.exp(1j*ang)
    I_r = np.conjugate(S_/(3*V_r))
    
    I_s = I_r
    V_s = V_r + Z*I_s
    V_sL = np.sqrt(3)*V_s
    S_s = 3*V_s*np.conjugate(I_s)
    RT = 100*(np.abs(V_s) - np.abs(V_r))/np.abs(V_r)
    rend = 100*(np.real(S_)/np.real(S_s))
    
    fasores = display(pd.DataFrame(np.round(np.array([pol(S_),pol(V_r),pol(I_r),pol(I_s),
                                                   pol(V_s),pol(V_sL),pol(S_s)]),5),
                                columns = ['modulo','angulo'],
                                index = ['S_','V_r','I_r','I_s','V_s','V_sL','S_s']))
    
    cartes = display(pd.DataFrame(np.round(np.array([rec(S_),pol(V_r),rec(I_r),rec(I_s),
                                                   rec(V_s),rec(V_sL),rec(S_s)]),5),
                                columns = ['real','imaginario'],
                                index = ['S_','V_r','I_r','I_s','V_s','V_sL','S_s']))
    
    rt_rend = pd.DataFrame(np.round(np.array([RT,rend]),5),columns=['(%)'],index=['RT','rend'])
    
    return display(fasores,cartes,rt_rend)

In [10]:
f = 60
l = 40
V = 69e3
R_pf = 0.219
L_pf = 1.233e-3
S1, ang1 = 52e6, np.arccos(0.8)
S2, ang2 = 52e6, -np.arccos(0.8)

In [11]:
linha_curta(f,l,V,R_pf,L_pf,S1,0.8)

0.46483004902514574

           0          1
0   8.760000  18.593202
1  20.553461  64.773003

            modulo    angulo
S_    5.200000e+07  36.86990
V_r   3.983717e+04   0.00000
I_r   4.351046e+02 -36.86990
I_s   4.351046e+02 -36.86990
V_s   4.792346e+04   5.00993
V_sL  8.300587e+04   5.00993
S_s   6.255515e+07  41.87983

              real    imaginario
S_    4.160000e+07  3.120000e+07
V_r   3.983717e+04  0.000000e+00
I_r   3.480836e+02 -2.610627e+02
I_s   3.480836e+02 -2.610627e+02
V_s   4.774037e+04  4.185080e+03
V_sL  8.268875e+04  7.248771e+03
S_s   4.657522e+07  4.175997e+07

None

None

           (%)
RT    20.29836
rend  89.31787

In [5]:
linha_curta(f,l,V,R_pf,L_pf,S2,0.8,-1)

            modulo    angulo
S_    5.200000e+07 -36.86990
V_r   3.983717e+04   0.00000
I_r   4.351046e+02  36.86990
I_s   4.351046e+02  36.86990
V_s   3.902795e+04  12.96915
V_sL  6.759839e+04  12.96915
S_s   5.094372e+07 -23.90075

              real    imaginario
S_    4.160000e+07 -3.120000e+07
V_r   3.983717e+04  0.000000e+00
I_r   3.480836e+02  2.610627e+02
I_s   3.480836e+02  2.610627e+02
V_s   3.803239e+04  8.758899e+03
V_sL  6.587403e+04  1.517086e+04
S_s   4.657522e+07 -2.064003e+07

None

None

           (%)
RT    -2.03131
rend  89.31787

In [12]:
linha_curta(60,16,69e3,0.125,1.160505e-3,70e6,0.8)

0.43750007789450673

          0          1
0  2.000000   7.000001
1  7.280111  74.054607

            modulo    angulo
S_    7.000000e+07  36.86990
V_r   3.983717e+04   0.00000
I_r   5.857177e+02 -36.86990
I_s   5.857177e+02 -36.86990
V_s   4.331107e+04   3.41131
V_sL  7.501698e+04   3.41131
S_s   7.610418e+07  40.28121

              real    imaginario
S_    5.600000e+07  4.200000e+07
V_r   3.983717e+04  0.000000e+00
I_r   4.685741e+02 -3.514306e+02
I_s   4.685741e+02 -3.514306e+02
V_s   4.323433e+04  2.577158e+03
V_sL  7.488406e+04  4.463769e+03
S_s   5.805839e+07  4.920437e+07

None

None

           (%)
RT     8.72026
rend  96.45462

In [7]:
linha_curta(60,16,69e3,0.125,1.160505e-3,120e6,1)

            modulo   angulo
S_    1.200000e+08  0.00000
V_r   3.983717e+04  0.00000
I_r   1.004087e+03 -0.00000
I_s   1.004087e+03 -0.00000
V_s   4.243152e+04  9.53477
V_sL  7.349355e+04  9.53477
S_s   1.278149e+08  9.53477

              real    imaginario
S_    1.200000e+08  0.000000e+00
V_r   3.983717e+04  0.000000e+00
I_r   1.004087e+03 -0.000000e+00
I_s   1.004087e+03 -0.000000e+00
V_s   4.184534e+04  7.028613e+03
V_sL  7.247826e+04  1.217392e+04
S_s   1.260491e+08  2.117203e+07

None

None

           (%)
RT     6.51240
rend  95.20096